<!DOCTYPE html>
<html>
    <body>
    <div style="height:auto;width:100%;background-color:rgb(191, 155, 233);">
                <table>
            <tr>
                <td>
                    <h1>Patient</h1>
                    <label for="">First name</label>
                    <h3>{{form.firstname}}</h3>

                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Last name</label>
                    <h3>{{form.lastname}}</h3>

                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Address line</label>
                    <h3>{{form.address_line}}</h3>

                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Address_city</label>
                    <h3>{{form.address_city}}</h3>

                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Address state</label>
                    <h3>{{form.address_state}}</h3>

                </td>
            </tr>
        </table>
       
    </div>"
 
    </body>
</html>